.edit-popup-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #2c333e;
    top: 0;
    left: 0;
}

.edit-popup {
    padding: 1rem;
    margin: 2rem auto;
    max-width: 95%;
}

.edit-popup h1 {
    color: #fcfaf7;
}

.edit-popup__button {
    border: 1px solid #a5ffd6 !important;
    background-color: #a5ffd6 !important;
    color: #2c333e;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

.edit-image-input-description {
    color: #fcfaf7;
}

.edit-image-input-description a {
    color: #fcfaf7;
}