.new-inspiration {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 95%;
  }

  .new-inspiration__form {
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: #a5ffd6;
    padding: 1rem;
  }

  .new-inspiration button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .new-inspiration__form button {
    border: 1px solid #2c333e;
    background-color: #2c333e;
    color: #fcfaf7;
    margin-left: 1rem;
  }
  
  #add-inspiration-button {
    border: 1px solid #a5ffd6;
    background-color: #a5ffd6;
    color: #2c333e;
    float: right;
    margin-right: 1rem;
  }

  .new-inspiration__form button:hover,
  .new-inspiration__form button:active {
    background-color: rgba(44, 51, 62, 0.85);
    border: 1px solid rgba(44, 51, 62, 0.85);
  }
  
  
  #add-inspiration-button:hover,
  #add-inspiration-button:active {
    background-color: rgba(165, 255, 214, 0.85);
    border: 1px solid rgba(165, 255, 214, 0.85);
  }
  