.inspiration-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inspiration-list__fallback {
    color: white;
    text-align: center;
}